<!DOCTYPE html>
<html="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
    <script src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/css/demo-chatroom.css">
  </head>

  <body>
    <div id="app">
      <div class="scrollableArea">
        <div class="messageArea">
          <div v-for="msgObj in receiveMessages" :class="messageObjectClass(msgObj.user)">
            <div class="avatarDiv"><img class="avatar" :src="msgObj.user.avatar"></div>
            <div class="msgText">{{ msgObj.text }}</div>
            <div class="clearBoth"></div>
          </div>
        </div>
      </div>
      <ol>
        <li v-for="merit in merits">
          {{ merit }}
        </li>
      </ol>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script>
      const anotherUser = 210;
      const devToken = '4aedca8d7a84fc29bbf120e3cef212c2-bb5e35514903db34fa9d4647bc2e821c';
      const devDeviceId = 'chris_iphone';
      const devIdFromRegisterId = 'chris98435848949666887';
      const devRegisterMethod = 'adminLogin';
      const groupChatRoomId = 1;
      let devTime = Math.round((new Date()).getTime() / 1000);
      let devChecksum = CryptoJS.MD5(devToken + devRegisterMethod + devIdFromRegisterId + devDeviceId+ devTime).toString();
      console.log('devCheckSum:', devChecksum);
      setInterval(() => {
        devTime = Math.round((new Date()).getTime() / 1000);
        devChecksum = CryptoJS.MD5(devToken + devRegisterMethod + devIdFromRegisterId + devDeviceId+ devTime).toString();
      }, 3000)
      const SOCKET_URL = 'http://localhost:8888'; //'wss://dev-socket-baifore.zan.news';
      // const SOCKET_URL = 'ws://socket-baifo.zan.news';
      const chat = io.connect(SOCKET_URL, {
        transports: ['websocket'],
        path: '/chant',
      });
      const receiveMessages = [];
      const merits = [];

      chat
        .on('connect', (data) => {
          console.log('====> 已連接');
          const authObj = {
            token: devToken,
            deviceId: devDeviceId,
            time: devTime,
            checksum: devChecksum,
            roomId: groupChatRoomId,
		    };
          chat.emit('authenticate', authObj);
        })
        .on('message', (message) => {
          console.log('====> 收到訊息:', message);
          receiveMessages.push(message);
        })
        .on('authenticated', () => {
          console.log('驗證成功');
        })
        .on('unauthorized', (data) => {
          console.log('====> unauthorized', data);
        })
        .on('errorMessage', (errorMessage) => {
          console.error('errorMessage:', errorMessage);
        });
      const vm = new Vue({
        el: '#app',
        data: {
          message: '',
          receiveMessages,
          merit: '',
          merits,
        },
        mounted() {
          
        },
        methods: {
          messageObjectClass(user) {
            const isRight = +user._id !== anotherUser;
            return {
              messageObject: true,
              selfMessage: isRight,
            };
          },
        },
      });
    </script>
  </body>

</html>