.messageArea {
  padding: 10px;
}
.messageArea .avatarDiv {
  float: left;
  width: 32px;
  height: 32px;
}
.messageArea .avatarDiv .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.messageArea div.msgText {
  display: inline-block;
  line-height: 32px;
  height: 32px;
  padding: 0px 15px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #DADDE1;
}
.messageArea .messageObject {
  margin: 5px 0;
}
.messageArea .selfMessage .avatarDiv {
  float: right;
}
.messageArea .selfMessage div.msgText {
  float: right;
  margin-right: 10px;
  background-color: rgb(0, 153, 255);
  color: #fff;
}
.messageArea .clearBoth {
  clear: both;
}
.inputField {
  padding: 10px;
}